header {
  background-color: blue;
  padding: 20px;
}

.column-1 {
  background-color: pink;
  display: inline-block;
  width: 45%;
  margin: 10px;
}

.column-2 {
  background-color: red;
  display: inline-block;
  width: 45%;
}

footer {
  background-color: green;
  border-style: solid;
  border-size: 3px;
  margin-top: 20px;
}