body {
  font-family: Georgia, serif;
  background-color: white;
}

header {
  background-color: blue;
  padding: 20px;
}

.column-1 {
  background-color: pink;
  display: inline-block;
  width: 45%;
  margin: 10px;
  vertical-align: top;
  height: 1100px;
}

.column-2 {
  background-color: red;
  display: inline-block;
  width: 45%;
  margin: 10px;
  vertical-align: top;
  height: 1100px;
}

footer {
  background-color: green;
  border-style: solid;
  border-size: 3px;
  margin-top: 20px;
}

@media screen and (max-width: 850px) {
.column-1, .column-2 {
  display: block;
  width: 100%;
}
}