#contact-info p {
  font-size: .8em;
}

.job {
  background-color: #e9e5dc;
  border-radius: 25px;
  padding: 5px;
  margin-top: .5cm;
}

.accomplishments {
  font-size: .8em
}

.job:hover {
  background-color: rgb(232,126,122);
}

section.job {
  font-style:italic;
}